{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {% set numCheckBoxes = 6 %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="/assets/vendor/angular-qr-scanner/qr-scanner.js"></script>
    <script src="/assets/vendor/angular-qr-scanner/src/jsqrcode-combined.min.js"></script>
    <div class="row">
        <div class="col-md-3 well" style="margin-left: 50px">
            <div class="row">
                <div class="col-lg-12  text-center" style="margin: 5px;padding: 0; background-color: GrayText" >
                    <div class="h4" style="color: white">User Details</div>
                </div>
            </div>
            <div class="row" style="padding-top: 3vh;" >
                <div >
                    <div class="user_detail-label label-info" ><div class="transaction-label-text">Transaction Reference Number</div></div>

                    <div class="input-group" style="width:100%">
                        <input id="ref" name="refNo" type="text" class="user_detail-input form-control" value="{{ Transaction.referenceNumber }}" />

                    </div><!-- /input-group -->
                    </div>
                <div style="margin-top: 5px">
                    <div class="user_detail-label label-info" ><div class="transaction-label-text">Name</div></div>

                    <div class="input-group" style="width:100%">
                        <input id="ref" name="refNo" type="text" class="user_detail-input form-control" value="{{ user.name }}" />

                    </div><!-- /input-group -->

                </div>

                <div style="margin-top: 5px">
                    <div class="user_detail-label label-info" ><div class="transaction-label-text">Phone number</div></div>

                    <div class="input-group" style="width:100%">
                        <input id="ref" name="refNo" type="text" class="user_detail-input form-control" value="0712345678" >

                    </div><!-- /input-group -->

                </div>
                <div style="margin-top: 5px">
                    <div class="user_detail-label label-info" ><div class="transaction-label-text">Device ID (IMEI)</div></div>

                    <div class="input-group" style="width:100%">
                        <input id="ref" name="refNo" type="text" class="user_detail-input form-control" value="{{ user.deviceId }}" />

                    </div><!-- /input-group -->

                </div>
                <div style="margin-top: 5px">
                    <div class="user_detail-label label-info" ><div class="transaction-label-text">Device OS version</div></div>

                    <div class="input-group" style="width:100%">
                        <input id="ref" name="refNo" type="text" class="user_detail-input form-control" value="Android 4.4" />

                    </div><!-- /input-group -->

                </div>
                <div style="margin-top: 5px">
                    <div class="user_detail-label label-info" ><div style="vertical-align: middle;padding-top:5px">GPS Location</div></div>

                    <div class="input-group" style="width:100%">
                        <input id="ref" name="refNo" type="text" class="user_detail-input form-control" value="
6.91723742,79.85420488" />

                    </div><!-- /input-group -->

                </div>

            </div>
        </div>
        <div class="col-md-8  well" style="margin-left: 50px;padding-top: 3px">

            <div class="row" style="padding-top: 1px" >
                <div class="col-lg-12  text-center" style="padding-right: 0; background-color: black" >
                    <div class="h3" style="color: white">
                        {{Transaction.type|upper}}

                    </div>
                </div>
            </div>



                <div class="row" style="padding-top: 3vh;">
                    <div class="col-lg-4  text-center" style="padding-right: 0;  text-align: left;" >
                        <div style="" class="transaction-label label-info" ><div class="transaction-label-text">Account Number</div></div>
                    </div>
                    <div class="col-lg-8" style="padding-left: 0">
                        <div class="input-group" style="width:100%;">
                            <input id="ref" name="refNo" type="text" class="transaction-input form-control" value="{{ Transaction.account.accountNumber }}"/>

                        </div><!-- /input-group -->
                    </div>
                </div>
                <div class="row" style="padding-top: 1vh;" >
                    <div class="col-lg-4  text-center" style="padding-right: 0;  text-align: left;" >
                        <div  class="transaction-label label-info" ><div class="transaction-label-text">Account Holder's Name</div></div>
                    </div>
                    <div class="col-lg-8" style="padding-left: 0">
                        <div class="input-group" style="width:100%;">
                            <input id="ref" name="refNo" type="text" class="transaction-input form-control" value="{{ Transaction.account.accountHolderName }}"/>

                        </div><!-- /input-group -->
                    </div>
                </div>

                {#<div class="row" style="padding-top: 1vh;" >#}
                    {#<div class="col-lg-4  text-center" style="padding-right: 0; text-align: left; " >#}
                        {#<div class="transaction-label label-info" ><div class="transaction-label-text">NIC/Passport Number</div></div>#}
                    {#</div>#}
                    {#<div class="col-lg-8" style="padding-left: 0">#}
                        {#<div class="input-group" style="width:100%;">#}
                            {#<input id="ref" name="refNo" type="text" class="transaction-input form-control"  value="{{ Transaction.account.nic }}"/>#}

                        {#</div><!-- /input-group -->#}
                    {#</div>#}
                {#</div>#}
            <div class="row" style="padding-top: 1vh" >
                <div class="col-lg-4  text-center" style="padding-right: 0; text-align: left;" >
                    <div class="transaction-label label-info" ><div class="transaction-label-text">
                            {% if Transaction.type == "Cheque Deposit" %}
                                Total Amount
                            {% else %}
                                Amount
                            {% endif %}

                        </div></div>
                </div>
                <div class="col-lg-8" style="padding-left: 0">
                    <div class="input-group" style="width:100%;">
                        <input id="ref" name="refNo" type="text" class="transaction-input form-control" value="{{ Transaction.amount|number_format(2, '.', ',') }} &nbsp; LKR"/>

                    </div><!-- /input-group -->
                </div>
            </div>
            {% if Transaction.type=="Cash Deposit" or Transaction.type=="Cash Withdraw" %}
                <div class="row" style="padding-top: 1vh;">
                    <div class="col-lg-4  text-center" style="padding-right: 0; text-align: left; " >
                        <div class="transaction-label label-info" ><div class="transaction-label-text">Notes and Coins</div></div>
                    </div>
                    <div class="col-lg-8" style="padding-left: 0;padding-right: 10%">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: center">Note</th>
                            <th style="text-align: center">Count</th>
                            <th style="text-align: end">Value</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% set i=0 %}
                       {% for note in Notes %}
                        <tr >
                            <td style="padding: 0"><div class="row" >
                                    {% if note!="1" %}
                                    <div class="col-lg-5 col-lg-offset-2" style="padding: 0; text-align: end">{{ note }}</div>
                                    <div class="col-lg-4">&nbsp&nbspX</div></div>
                                {% else %}
                                <div class="col-lg-8 col-lg-offset-4" style="padding: 0">Coins</div>

                                {% endif %}
                            </td>
                            <td
                                {% if Transaction.type =="Cash Withdraw" %}
                                    style="padding:0;padding-left: 20px">
                                <div class="input-group" style="padding: 0;text-align: end">
                                    <input id="ref" name="refNo" type="text"

                                           style="pointer-events: all; text-align: end"
                                         class="transaction-input form-control"  value="0" />

                                </div>
                                {%else  %}
                                    style="padding: 0">
                                    {{ NotesCount[note] }}
                                {% endif %}
                            </td>
                            <td style="padding: 0;text-align: end">
                                {{ (note*NotesCount[note])|number_format(0, ',')  }}
                            </td>

                        </tr>
                           {% set i= i+1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                        </div>

                </div>
            {% else %}
                <div class="row" style="padding-top: 1vh;">
                    <div class="col-lg-4  text-center" style="padding-right: 0; text-align: left; " >
                        <div class="transaction-label label-info" ><div class="transaction-label-text">Cheques</div></div>
                    </div>
                    <div class="col-lg-8" style="padding-left: 0;padding-right: 10%">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: right">Index</th>
                                <th style="text-align: left">Bank</th>
                                <th style="text-align: right">Cheque Number</th>
                                <th style="text-align: right">Branch Code</th>
                                <th style="text-align: center">Amount</th>
                                <th style="text-align: right"></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% set i=0 %}
                            {% for cheque in Cheques %}
                                <tr >
                                    <td style="padding: 0;padding-left: 50px">
                                        {{ i+1 }}
                                    </td>
                                    <td style="padding: 0"><div class="row" >

                                            <div class="col-lg-5 col-lg-offset-2" style="padding: 0; text-align: end">{{ cheque['Bank'] }}</div>
                                            {#<div class="col-lg-4">&nbsp&nbspX</div>#}
                                        </div>

                                    </td>
                                    <td style="padding: 0;padding-left: 60px">
                                            {{ cheque["ChequeNumber"] }}
                                    </td>
                                    <td style="padding: 0;padding-left: 40px">
                                        {{ cheque["Branch"] }}
                                    </td>
                                    <td style="padding: 0;padding-left: 30px">
                                        {{ cheque["Value"]|number_format(2, '.', ',')  }}
                                        {#{{ (note*NotesCount[note])|number_format(0, ',')  }}#}
                                    </td>
                                    <td style="padding: 0;text-align: end">
                                        <input type="checkbox" tabindex="{{ (i+1)*(numCheckBoxes + 1) }}">
                                    </td>

                                </tr>
                                {% set i= i+1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            {% endif %}
            <div class="row" style="padding-top: 0;" >
                <div class="col-lg-4  text-center" style="padding-right: 0; text-align: left; " >
                    <div class="transaction-label label-info" ><div class="transaction-label-text">Teller</div></div>
                </div>
                <div class="col-lg-8" style="padding-left: 0">
                    <div class="input-group" style="width:100%;">
                        <input id="teller" name="teller" type="text" class="transaction-input form-control"  value="Teller1" />

                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="row" style="padding-top: 1vh;" >
                <div class="col-lg-4  text-center" style="padding-right: 0; text-align: left; " >
                    <div class="transaction-label label-info" ><div class="transaction-label-text">Branch</div></div>
                </div>
                <div class="col-lg-8" style="padding-left: 0">
                    <div class="input-group" style="width:100%;">
                        <input id="branch" name="branch" type="text" class="transaction-input form-control"  value="Bambalapitiya" />

                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="row" style="padding-top: 1vh;" >
                <div class="col-lg-4  text-center" style="padding-right: 0; text-align: left; " >
                    <div class="transaction-label label-info" ><div class="transaction-label-text">Date and Time</div></div>
                </div>
                <div class="col-lg-8" style="padding-left: 0">
                    <div class="input-group" style="width:100%;">
                        <input id="dateTime" name="dateTime" type="text" class="transaction-input form-control" value="{{ "now"|date("m/d/Y  H:i:s","Asia/colombo") }}" />

                    </div><!-- /input-group -->
                </div>
            </div>

            {% if Transaction.type=="Cheque Deposit" %}
                <div class="row" style="padding-top: 1vh;" >
                    {#<div class="col-lg-4  text-center" style="padding-right: 0; text-align: left; " >#}
                        {#<div class="transaction-label label-info" ><div class="transaction-label-text"></div></div>#}
                    {#</div>#}
                    <div class="col-lg-12">
                        <div class="input-group" style="width:100%;">
                            <div class="transaction-label label-info" ><div class="transaction-label-text" style="text-align: center">Cheque Images</div></div>
                        </div><!-- /input-group -->
                    </div>
                </div>
                {% set tabIndexCount = 1 %}
                {% for cheque in Cheques %}
                    <div class="row" style="padding-top: 1vh;" >
                        {#<div class="col-lg-2  text-center" style="padding-right: 0; text-align: left; " ></div>#}
                        <div class="col-lg-6">
                            {#<img src="{{ asset('images/cheque.png') }}" >#}
                            <img alt="Embedded Image" src="data:image/png;base64, {{ cheque["Image"] }}" style="max-width: 100%; height: 200px"/>
                        </div>
                        <div class="controls span2 col-lg-2">
                            <label class="checkbox">
                                <input type="checkbox" tabindex="{{ tabIndexCount }}"> Date
                            </label>
                            {% set tabIndexCount = tabIndexCount + 1 %}

                            <label class="checkbox">
                                <input type="checkbox"  tabindex="{{ tabIndexCount }}"> Amount
                            </label>
                            {% set tabIndexCount = tabIndexCount + 1 %}

                            <label class="checkbox">
                                <input type="checkbox" tabindex="{{ tabIndexCount }}"> Narration
                            </label>
                            {% set tabIndexCount = tabIndexCount + 1 %}

                        {#</div>#}
                        {#<div class="controls span2 col-lg-2">#}
                            <label class="checkbox">
                                <input type="checkbox" tabindex="{{ tabIndexCount }}"> A/C Number
                            </label>
                            {% set tabIndexCount = tabIndexCount + 1 %}

                            <label class="checkbox">
                                <input type="checkbox" tabindex="{{ tabIndexCount }}"> Name
                            </label>
                            {% set tabIndexCount = tabIndexCount + 1 %}

                            <label class="checkbox">
                                <input type="checkbox" tabindex="{{ tabIndexCount }}"> Signature
                            </label>
                            {% set tabIndexCount = tabIndexCount + 1 %}

                        </div>
                    </div>
                    {# to reserve an index for selecting check #}
                    {% set tabIndexCount = tabIndexCount + 1 %}
                {% endfor %}
            {% endif %}

            <div class="row" style="padding-top: 2vh;" >
                <div class="col-lg-7 col-lg-offset-2"><h4><span class="label label-warning" style="margin-top: 0px; visibility: hidden" id="lbl_pin_verify">Waiting for Pin Verification</span></h4></div>
                <div class="col-lg-2 "><button id = 'btn_proceed' class="btn btn-danger right" onclick="proceed()">PROCEED</button></div>
            </div>

            </div>


        </div>
    </div>
    <script>
        var periodicFunc;
        function proceed(){
            $data = {"refNo": "{{ Transaction.referenceNumber }}", "branch": $("#branch").val() };
            $.ajax({
                        method: "POST",
                        url: "/transaction/proceed",
                        dataType: 'json',
                        data: JSON.stringify( $data )
                    })
                    .done(function( msg ) {
                       // alert( "Data Saved: " + msg );
                        $("#successText").html("TRANSACTION SUCCESSFUL!");
                        window.location.href = '/transaction/scanner';
                    });
        }

        {% if Transaction.type == 'Cash Withdraw' %}

        window.onload = function(){
            console.log('Running document ready');
            disableProceedButton(
                requestPin(function(){
                    periodicFunc = setInterval(checkPin, 1000)
                })
            );
        }

        function requestPin(callback){
            var data = {"refNo": "{{ Transaction.referenceNumber }}" };
            $.ajax({
                        method: "POST",
                        url: "{{ path('request_pin') }}",
                        dataType: 'json',
                        data: data
                    })
                    .done(function( msg ) {
                        console.log('pin requested');
                        if(callback){
                            callback();
                        }
                    });
        }

        function checkPin(callback){
            var data = {"refNo": "{{ Transaction.referenceNumber }}" };
            $.ajax({
                        method: "POST",
                        url: "{{ path('check_pin') }}",
                        dataType: 'json',
                        data: data
                    })
                    .done(function( msg ) {
                        console.log( "Pin checked: " + msg.success );
                        if(msg.success){
                            enableProceedButton();
                        }
                        if(callback){
                            callback();
                        }
                    });
        }
        function disableProceedButton(callback){
            var btn = document.getElementById('btn_proceed');
            document.getElementById("lbl_pin_verify").style.visibility = "visible";
            btn.disabled = true;

            if(callback){
                callback();
            }
        }
        function enableProceedButton(callback){
            clearInterval(periodicFunc);
            document.getElementById("lbl_pin_verify").innerHTML = "Pin Verified";
            document.getElementById("lbl_pin_verify").className = document.getElementById("lbl_pin_verify").className.replace( /(?:^|\s)label-warning(?!\S)/g , ' label-success' );
            var btn = document.getElementById('btn_proceed');
            btn.disabled = false;
            if(callback){
                callback();
            }
        }

        {% endif %}
    </script>
{% endblock %}